<div class="container">
    <h2> Planning Tests List</h2>
      <button class="btn btn-danger" (click)="addPlanning()"> Create Planning</button>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Titre</th>
        <th>Type</th>
        <th>Lieu</th>
        <th>Date</th>
        <th>Heure</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let test of planningTest">
        <td class="hidden">{{test.id}}</td>
        <td>{{test.titre}}</td>
      <td>{{test.type}}</td>
      <td>{{test.lieu}}</td>
      <td>{{test.date}}</td>
      <td>{{test.heure}}</td>
      <button type="submit" class="button1" [routerLink]="['/edit-test/',test.id]" >Update</button>
      </tr>
      </tbody>
    </table>
  </div>
